* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  width: 35rem;
  padding: 3rem;
  row-gap: 3rem;
  border-radius: 0.5rem;
}

.paragraph {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.648);
}

.user-img {
  border-radius: 50%;
  width: 8rem;
}

.user-name {
  font-size: 2.5rem;
}

.location {
  color: hsl(75, 94%, 57%);
}

.btn {
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  padding: 1.5rem;
  border-radius: 6px;
  border: none;
  color: white;
}

.btn:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
